.footer {
    background: none; /* Quita el fondo */
    text-align: center;
    padding: 1rem;
}

.footer p {
    font-size: 0.75rem; /* Reduce el tamaño del texto */
    color: #000; /* Asegura que el texto sea visible */
    margin: 0;
}